@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		direction: rtl;
		font-family: Vazirmatn, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
	}
}

/* Scrollbar thin for tables on small screens */
.scrollbar-thin::-webkit-scrollbar {
	height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(107, 114, 128, 0.4);
	border-radius: 9999px;
}


